<%= form_tag(calculate_path, method: :get) do %>
    <div id="error_expleanation">
    </div>

  <div class="field inline">
    <%= label_tag :date %>
    <%= select_date(Date.current, options = {}, html_options = {}) %>
  </div>

  <div class="actions inline">
    <%= submit_tag "Calculate" %>
  </div>
<% end %>
