<p id="notice"><%= notice %></p>

<h3>USD/EUR Currency exchange calculator</h3>

<div><%= render 'form' %></div>
</br>
</hr>
<% if @eur %>
  <div id="result">Calcualted amount in EUR <%= @eur %></div>
<% end %>
